<form data-controller="bridge--form"
      data-action="turbo:submit-start->bridge--form#submitStart turbo:submit-end->bridge--form#submitEnd">
  <!-- fields -->
  <button type="submit"
          data-bridge--form-target="submit"
          data-bridge-title="Save">
    Save
  </button>
</form>
